In [1]:
import datetime
from players import *
import re
from tabulate import tabulate
from operator import itemgetter

In [2]:
tday = datetime.date.today()
birthday_list = []
for player in player_list:
	player_bday = (player.birthdate).strftime('%b %d')
	player_no_days = ((player.birthdate - tday).days)
	if player.signup_name == 'Rocky': player.age = '??'
	birthday_info = [player.signup_name, player.age, player_bday, player_no_days]
	birthday_list.append(birthday_info)

In [3]:
b = sorted(birthday_list, key=itemgetter(3))
headers = ["\nName", "Will\nBe", "\nOn", "In #\nDays"]		
column_print_alignment = list(("right","center","center","right"))

In [4]:
print(f"As of {tday.strftime('%B %d %Y')}: ")
print()
print (tabulate(b, tablefmt='simple', colalign=column_print_alignment, headers=headers, floatfmt=".1f"))

As of March 14 2020:

           Will             In #
    Name    Be      On      Days
--------  ------  ------  ------
   Frank    74    May 12      59
     Bob    69    Jun 10      88
   Rocky    ??    Jun 10      88
    Kent    68    Jul 03     111
   Larry    71    Jul 04     112
 Bill B.    67    Jul 15     123
   Trick    73    Aug 17     156
    Hump    70    Aug 27     166
    Doug    74    Sep 06     176
    Jack    75    Sep 09     179
    Will    68    Sep 11     181
     Dan    73    Sep 23     193
   Besse    77    Oct 07     207
  Jim S.    74    Oct 15     215
 Bill S.    59    Oct 23     223
    Curt    72    Nov 19     250
Jimmy W.    80    Nov 19     250
    Reid    72    Dec 14     275
      Al    80    Dec 24     285