In [21]:
import pandas as pd
df = pd.read_excel('Handicap Index Course Handicap Report.xlsx', sheet_name='Sheet1')
print('Sheet Loaded')
# print(df.loc(['Golfer Name', 'H.I.']))
df.shape

Sheet Loaded

(22, 7)

In [22]:
df.columns

Index(['GHIN #', 'Last Name', 'Golfer Name', 'H.I.', 'White\n(69.4/128)',
       'Gold\n(70.2/132)', 'Blue\n(72.0/136)'],
      dtype='object')

In [23]:
df['Golfer Name']

0              Reid Baker
1            Bill Barnard
2          Rick Baumgarth
3              Rick Besse
4           Frank Broyles
5            Jack Carroll
6              Will Davis
7             Rocky Duron
8             Kent Fannon
9         Curt Fitzgerald
10              Bob Heard
11       Richard Humphrey
12               Jim Sido
13            Dan Stewart
14           Bill  Strand
15            Larry Traub
16                Al Vela
17          Jimmy Wickham
18          Doug Williams
19                     19
20                    NaN
21    2020-03-17 03:01:01
Name: Golfer Name, dtype: object

In [24]:
df.loc[0:18, 'Golfer Name':'H.I.']

         Golfer Name  H.I.
0         Reid Baker  11.4
1       Bill Barnard  16.5
2     Rick Baumgarth  11.4
3         Rick Besse  16.1
4      Frank Broyles  16.2
5       Jack Carroll  10.0
6         Will Davis  15.6
7        Rocky Duron  16.2
8        Kent Fannon  15.3
9    Curt Fitzgerald  18.2
10         Bob Heard   7.0
11  Richard Humphrey  17.6
12          Jim Sido  11.3
13       Dan Stewart  13.5
14      Bill  Strand  11.2
15       Larry Traub   8.9
16           Al Vela  19.5
17     Jimmy Wickham  14.5
18     Doug Williams  19.2

In [25]:
info = df.loc[0:18, 'Golfer Name':'H.I.']
print(info)

         Golfer Name  H.I.
0         Reid Baker  11.4
1       Bill Barnard  16.5
2     Rick Baumgarth  11.4
3         Rick Besse  16.1
4      Frank Broyles  16.2
5       Jack Carroll  10.0
6         Will Davis  15.6
7        Rocky Duron  16.2
8        Kent Fannon  15.3
9    Curt Fitzgerald  18.2
10         Bob Heard   7.0
11  Richard Humphrey  17.6
12          Jim Sido  11.3
13       Dan Stewart  13.5
14      Bill  Strand  11.2
15       Larry Traub   8.9
16           Al Vela  19.5
17     Jimmy Wickham  14.5
18     Doug Williams  19.2

In [26]:

for ind in df.index:
    print(df['Golfer Name'][ind], df['H.I.'][ind])

Reid Baker 11.4
Bill Barnard 16.5
Rick Baumgarth 11.4
Rick Besse 16.1
Frank Broyles 16.2
Jack Carroll 10.0
Will Davis 15.6
Rocky Duron 16.2
Kent Fannon 15.3
Curt Fitzgerald 18.2
Bob Heard 7.0
Richard Humphrey 17.6
Jim Sido 11.3
Dan Stewart 13.5
Bill  Strand 11.2
Larry Traub 8.9
Al Vela 19.5
Jimmy Wickham 14.5
Doug Williams 19.2
19 nan
nan nan
2020-03-17 03:01:01 nan

In [28]:
for ind in range(19):
    
    print(df['Golfer Name'][ind], df['H.I.'][ind])

Reid Baker 11.4
Bill Barnard 16.5
Rick Baumgarth 11.4
Rick Besse 16.1
Frank Broyles 16.2
Jack Carroll 10.0
Will Davis 15.6
Rocky Duron 16.2
Kent Fannon 15.3
Curt Fitzgerald 18.2
Bob Heard 7.0
Richard Humphrey 17.6
Jim Sido 11.3
Dan Stewart 13.5
Bill  Strand 11.2
Larry Traub 8.9
Al Vela 19.5
Jimmy Wickham 14.5
Doug Williams 19.2

In [29]:
for ind in range(19):
    golfer_name = df['Golfer Name'][ind]
    h_i = (float(df['H.I.'][ind]))
    print(f"Golfer Name: {golfer_name}, HI: {h_i}")

Golfer Name: Reid Baker, HI: 11.4
Golfer Name: Bill Barnard, HI: 16.5
Golfer Name: Rick Baumgarth, HI: 11.4
Golfer Name: Rick Besse, HI: 16.1
Golfer Name: Frank Broyles, HI: 16.2
Golfer Name: Jack Carroll, HI: 10.0
Golfer Name: Will Davis, HI: 15.6
Golfer Name: Rocky Duron, HI: 16.2
Golfer Name: Kent Fannon, HI: 15.3
Golfer Name: Curt Fitzgerald, HI: 18.2
Golfer Name: Bob Heard, HI: 7.0
Golfer Name: Richard Humphrey, HI: 17.6
Golfer Name: Jim Sido, HI: 11.3
Golfer Name: Dan Stewart, HI: 13.5
Golfer Name: Bill  Strand, HI: 11.2
Golfer Name: Larry Traub, HI: 8.9
Golfer Name: Al Vela, HI: 19.5
Golfer Name: Jimmy Wickham, HI: 14.5
Golfer Name: Doug Williams, HI: 19.2
Golfer Name: 19, HI: nan
Golfer Name: nan, HI: nan
Golfer Name: 2020-03-17 03:01:01, HI: nan